<h1>The Feed</h1>
<h2><%= @feed.title %></h1>

<% @feed.entries.each do |term| %>
  <h2><%= term.title %></h1>
  <h2><%= term.search_phrase %></h2>
  <% term.results.each do |result| %>
    <p><%= result.to_s %></p>
  <% end %>
<% end %>

